<div class="mailing">
    <div class="container-fluid">
        <div class="mailing__form">
            <form action="#" method="post">
                <div class="mailing__wrap">
                    <div class="mailing__item el-animate">
                        <input type="email" placeholder="info@eurotime.by">
                    </div>
                    <div class="mailing__item el-animate">
                        <input type="submit" value="Подписаться на расылку">
                    </div>
                </div>
                <div class="mailing__add el-animate">
                    Оставляя заявку, вы даёте согласие на обработку <a href="#">Персональных данных</a>
                </div>
            </form>
        </div>
    </div>
</div>