/*FONT-FAMILY*/
$default-font:'qanelasregular', Arial, sans-serif;
//$default-font:Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #f6f6f6;
//$alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

$default-bg: #D74E2E;

/*TEXT-COLOR*/
$base-color: #333;

$alt-color: #D74E2E;