.page-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
}
.page-header-top__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: inline-block;
    width: 153px;
    height: 37px;
    background: url(../img/svg/logo.svg) center/contain no-repeat;
}
.page-header-top{
    background: #D4D6D8;
}
.page-header-top-more{
    display: flex;
    align-items: center;
}


.page-header-toggle{
    display: flex;
    margin-right: 32px;
}

.page-header-toggle__item{
    padding: 32px 41px 21px 41px;
    background: #e8e8e8;
    color: #d74e2e;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .3s ease;
    letter-spacing: 0.03em;
    &.active{
        pointer-events: none;
        background: $default-bg;
        color: #fff;
    }
    &:hover{
        background: $default-bg;
        color: #fff;
    }
}

.page-header__btn{
    font-size: 14px;
    border: 1px solid #828282;
    border-radius: 20px;
    color: #333;
    padding: 6px 19px;
    display: inline-block;
    margin: 8px 0 0 37px;
    transition: all .3s ease;
    &:hover{
        color: $alt-color;
        border: 1px solid $default-bg;
    }
}
.page-header__phone{
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    position: relative;
    margin: 10px 0 0 39px;
    transition: color .3s ease;
    &:before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 13px;
        background: url(../img/svg/f-phone.svg) center/cover no-repeat;
    }
    &:hover{
        color: $alt-color;
    }
}
.page-header__location{
    font-size: 13px;
    font-style: normal;
    padding-left: 20px;
    position: relative;
    margin: 10px 0 0 0;
    &:before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 9px;
        height: 13px;
        background: url(../img/svg/f-location.svg) center/cover no-repeat;
    }
}




.page-header-menu{
    background: #fff;
    padding: 29px 0;
}
.page-header-menu__wrap{
    display: flex;
    align-items: center;
}

.menu{
    margin-right: 194px;
}
.menu-btn{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #828282;
    transition: all .3s ease;
	&.active{
		.burger-icon {
		    &:before{
				transform: translateY(4px) rotate(45deg);
		    }
		    &:after{
				transform: translateY(-4px) rotate(-45deg);
		    }
		}
	}
    &:hover{
        color: $alt-color;
        .burger-icon{
            &:before,
	        &:after{
                background-color: $default-bg;
            }
        }
    }
}
.burger-icon {
	display: block;
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 50px;
	height: 3px;
	transition: all 0.3s ease;
    margin-right: 32px;
	&:before,
	&:after{
		display: block;
		width: 50px;
		height: 2px;
		background-color: #828282;
		transition: all 0.3s ease;
		position: absolute;
		content: "";
	}
	&:before{
		top: -4px;
	}
	&:after{
		top: 4px;
	}
}



.page-header-m{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.page-header-search{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/svg/search.svg) center no-repeat;
    transition: background .3s ease;
    &:hover{
        background: url(../img/svg/search-h.svg) center no-repeat;
    }
}
.page-header-nav{
    display: flex;
}
.page-header-nav__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    display: inline-flex;
    align-items: center;
    transition: color .3s ease;
    &:hover{
        color: $alt-color;
    }
}
.page-header-nav__item{
    margin-right: 35px;
    &:last-child{
        margin-right: 0;
    }
    &.m-sub{
        .page-header-nav__link{
            &:after{
                content: "";
                display: inline-block;
                width: 6px;
                height: 5px;
                background: url(../img/svg/m-arr.svg) center no-repeat;
                margin:0 0 0 10px;
            }
        }
        
    }
}














.page-header-sub{
    padding: 0 80px;
   display: none;
}

.page-header-sub__in{
    overflow: hidden;
}
.page-header-sub__view{
    background: #F6F6F6;
    width: 600px;
    position: relative;
    padding: 56px 100px 151px 0;
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #F6F6F6;
        position: absolute;
        right: 100%;
        top: 0;
    }
}



.page-header-sub__item{
    margin-bottom: 26px;
    //position: relative;
    display: flex;
    align-items: flex-start;
    &.visible-lg{
        display: none;
    }   
    &:last-child{
        margin-bottom: 0;
    }
    &.m-sub{
        .page-header-sub__link{
            &:after{
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 8px;
                border-color: transparent transparent transparent #828282;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all .3s ease;
            }
        }
        
        &:hover{
            .page-header-sub__link{
                color: $alt-color;
                &:after{
                    border-color: transparent transparent transparent #B8543E;
                }
            }
            
            .page-header-submenu{
                display: block;
            }
        }
    }
}
.page-header-sub__link{
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    transition: all .3s ease;
    padding-left: 49px;
    padding-right: 20px;
    display: block;
    position: relative;
    width: 247px;
    min-width: 247px;
    &.active{
        color: #D74E2E;
    }
    &:hover{
        color: #D74E2E;
    }
    &:before{
        content: "";
        width: 8px;
        height: 8px;
        background: #B8543E;
        position: absolute;
        left: 0;
        top: 7px;
    }
    
}

.page-header-submenu{
    position: absolute;
    top: 56px;
    left: 255px;
    min-width: 325px;
    height: 100%;
    display: none;
}
.page-header-submeu__link{
    color: #333333;
    transition: all .3s ease;
    padding-left: 53px;
    display: block;
    position: relative;
    font-size: 16px;
    margin-bottom: 26px;
    &:last-child{
        margin-bottom: 0;
    }
    &.active{
        color: #D74E2E;
    }
    &:hover{
        color: #D74E2E;
    }
}


.page-header-submenu__in{
    position: absolute;
    top: 0;
    left: 0;
}



.js-m-sub-mobile-trigger{
    display: none;
}



// .m-sub{
//     pointer-events: none;
//     .page-header-sub__link{
//         pointer-events: all;
//     }
// }
.page-header-nav__item{
    &.m-sub{
        position: relative;
    }
}

.page-header-nav-sub{
    padding: 62px 51px;
    background: linear-gradient(180deg, #E8E8E8 0%, #F6F6F6 30%);
    position: absolute;
    right: 3px;
    transform: translateX(50%);
    top: calc(100% + 29px);
    display: none;
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #e8e8e8 transparent;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

.page-header-nav-sub__item{
    margin-bottom: 26px;
    display: flex;
    align-items: flex-start;
    &:last-child{
        margin-bottom: 0;
    }
    
    &.m-sub{
        .page-header-nav-sub__link{
            &:after{
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 8px;
                border-color: transparent transparent transparent #828282;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all .3s ease;
            }
        }
        &:hover{
            .page-header-nav-sub__link{
                color: $alt-color;
                &:after{
                    border-color: transparent transparent transparent #b8543e;
                }
            }
            
        }
    }
}

.page-header-nav-sub__link{
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    transition: all .3s ease;
    padding-left: 49px;
    padding-right: 20px;
    display: block;
    position: relative;
    width: 247px;
    min-width: 247px;
    
    &:before{
        content: "";
        width: 8px;
        height: 8px;
        background: #b8543e;
        position: absolute;
        left: 0;
        top: 7px;
    }
}