.workarea,
.popup{
	line-height: 1.5;
	h1{
		margin: 0;
		margin-bottom: 60px;
		font-size: 72px;
		    line-height: 1.2;
		font-weight: normal;
		font-family: 'als_gorizontregular_expanded';
	}
	h2{
		margin: 0;
		margin-bottom: 60px;
		font-size: 40px;
		    line-height: 1.2;
		font-weight: normal;
		font-family: 'als_gorizontregular_expanded';
	}
	h3{
	    margin: 0;
	    margin-bottom: 60px;
	    font-weight: normal;
	    font-size: 30px;
	        line-height: 1.2;
	    font-family: 'als_gorizontregular_expanded';
	}
	h4{
	    margin: 0;
	    margin-bottom: 20px;
	    font-weight: normal;
	    font-size: 24px;
	        line-height: 1.2;
	    font-family: 'als_gorizontregular_expanded';
	}
	h5{
	    margin: 0;
	    margin-bottom: 20px;
	    font-weight: normal;
	    font-size: 18px;
	    line-height: 1.2;
	    font-family: 'als_gorizontregular_expanded';
	}
	h6{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	    font-size: 15px;
	    line-height: 1.2;
	    font-family: 'als_gorizontregular_expanded';
	}
	p{
		margin: 0;
		margin-bottom: 15px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
		border: 0;
		background: #D4D6D8;
		border-radius: 3px;
		transition: all .3s ease;
		padding: 16.5px 30px;
		color: #4F4F4F;
		&:focus{
			background: #fff;
		}
	}
	input[type="submit"]{
		display: block;
		background: #D74E2E;
		border-radius: 3px;
		color: #fff;
		text-align: center;
		padding: 16.5px 10px;
		border: 0;
		transition: all .3s ease;
		&:hover{
			background: #B8543E;
		}
		&:active{
			background: #894039;
		}	
	}
	textarea{
		display: block;
		width: 100%;
		border:0;
		background: #D4D6D8;
		border-radius: 3px;
		min-height: 140px;
		resize: vertical;
		transition: all .3s ease;
		padding: 16.5px 30px;
		color: #4F4F4F;
		&:focus{
			background: #fff;
		}
	}
	ol {
		list-style-type: none;
		counter-reset: item;
		margin: 0 0 20px 0;
		padding: 0;
		//counter-reset: myCounter;
		font-size: 20px;
		> li {
			padding-left: 76px;
			position: relative;
			margin-bottom: 21px;
			counter-increment: item;
			&:before{
				content: "0" counters(item, ".");
				position: absolute;
				left: 7px;
				top: 3px;
				color: #B8543E;
				font-family: 'als_gorizontregular_expanded';
			}
			ol{
				margin: 23px 0 0 -7px;
				>li{
					padding-left: 91px;
					&:before{
						content: "0" counters(item, ". ");
					}
				}
			}
		}
	}
	  
	ul{
		margin: 0;
		margin-bottom: 20px;
		padding: 0;
		font-size: 20px;
		li{
			list-style-type: none;
			padding-left: 48px;
			position: relative;
			margin-bottom: 21px;
			&:before{
				content: "";
				position: absolute;
				left: 0px;
    			top: 14px;
				width: 8px;
				height: 8px;
				background: #B8543E;
			}
			ul{
				margin: 23px 0 0 0;
				li{

				}
			}
		}
	}
	table{
		width: 100%;
    	min-width: 576px;
    	margin-bottom: 20px;
    	//table-layout: fixed;
		border-collapse: separate;
	}
	tr{
		&:nth-child(2){
			td{
				padding-top: 48px;
			}
		}
		&:nth-child(odd){
			td{
				background-color: #fff;
			}
		}
	}
	td{
		padding: 25px 29px;
		line-height: 1.2;
		&:first-child{
			color: $alt-color;
			text-transform: uppercase;
			font-family: 'als_gorizontregular_expanded';
			font-size: 14px;
		}
	}
	th{
		text-align: left;
		font-weight: normal;
		color: #4F4F4F;
		padding: 19px 25px;
		border: 1px solid #828282;
		margin-bottom: 30px;
		text-align: center;
		font-family: 'als_gorizontregular_expanded';
		font-size: 14px;
		border-right: 0;
		&:first-child{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:last-child{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border-right: 1px solid #828282;
		}
	}
	blockquote{
		display: block;
	    font-size: 24px;
	    color: #7A1774;
	    text-align: center;
	    max-width: 700px;
	    margin: 25px auto;
	    padding: 25px 0;
	    position: relative;
		&:before{
			content: "";
			display: block;
			width: 400px;
			height: 1px;
			background: #E3E0EB;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
		} 
		&:after{
			content: "";
			display: block;
			width: 400px;
			height: 1px;
			background: #E3E0EB;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		} 
	}
	strong{
		//font-weight: normal;
		//font-family: 'tt_normsbold';
	}
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		    padding-left: 50px;
    	line-height: 20px;
		display: inline-block;
		font-size: 16px;
	}

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0px;
		top: 0;
		border: 1px solid #828282;
		border-radius: 1px;
		cursor: pointer;
		z-index: 5;
		width: 20px;
		height: 20px;
		transition: all .3s ease;
	}
	// input[type="checkbox"]:not(:checked) + label:hover:before,
	// input[type="checkbox"]:checked + label:hover:before{
	// 	border: 1px solid #7A1774;
	// }
	// input[type="checkbox"]:checked + label:before{
	// 	border: 1px solid #7A1774;
	// }
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
		content: '';
		background: url(../img/svg/check.svg) center no-repeat;
		width: 14px;
		height: 11px;
		display: inline-block;
		position: absolute;
		top: 4px;
    	left: 3px;
		z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	 	opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
}

.table-wrap{
    overflow-x: auto;
    width: 100%;
    margin: 0 0 60px;
    table{
        margin-bottom: 0;
    }
	&::-webkit-scrollbar {
		height: 5px;
	   	width: 1px;
   	}
	
   	&::-webkit-scrollbar-track {
	   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	   border-radius: 20px;
	   background: #fff;
   	}
	
   	&::-webkit-scrollbar-thumb {
	   border-radius: 20px;
	   background: $default-bg;
   	}
}
.t-txt{
	font-size: 14px;
	max-width: 350px;
}